body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background:#f7f7f7;
    overflow-x: hidden; 
}
a {
    color: #800020;
    text-decoration: none;
    /* font-weight: bold; */

}
.login-body{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/bars.png);
    background-size: cover;
    overflow-y: hidden;
    margin: 0;
    overflow-x: hidden; 
    /* background: black; */
}
.login-logo{
    margin: 0 auto; 
    /* background: white; */
    height: 100px;
    width: 100vw;
    display: grid;
    justify-content: center;
    margin-top: 0px;
}

.main-header{
    width: 100vw;
    height: 55px;
    background-color:rgb(0, 0, 0) ;
    top: 0;
    position: fixed;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    z-index: 1000;
    margin: 0 auto;
    padding: 1px;

}
.inner-header{
    width: 900px;
    height: 100%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    padding: 17px;    

}
.logo-container{
    height: 100%;
    display: block;
    position: absolute;
    float: left;
    padding: 0px;
    margin-bottom: 1px;
    margin-top:-12px;
    margin-left: -30px;


}
.search-container{
    width: 420px;
    float: left;
    display: block;
    position: relative;
    margin-top:-15px;
    margin-left:40px;
    /* height: 20px; */ 
    outline: 0;
    
    
}
.search-container input[type=text]{
    margin-top: 2px;
    height: 100%;
    width: 400px;
    padding: 10px;
    margin-left: 12px;
    /* background: rgb(97, 97, 97); */
    border: 1px;  
    /* color: white; */
    border-radius: 20px;
    background: #f7f7ff;
    outline: 0;
}

.main-nav{
    float: left;
    height: 100%;
    padding-left: 20px;
}
.main-nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 10px;
    text-decoration: none;
   
}
.main-nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.main-nav a li:hover{
    color: rgb(179, 165, 179);  
    list-style: none;        
}
.sidebar{
    /* background: rgb(255, 255, 255); */
    height: 100vh;
    min-width: 275px;
    margin-top: 0%; 
    position: fixed;
    left:1%;
    border-radius: 5px;
    /* display: block; */
    /* box-shadow: 0 0 4px 0 rgba(41,39,44,.25);   */
}
.side-nav{
    padding: 0px;
    margin-top:13%;
    text-decoration: none;
    list-style: none;
    display: block;
}
.side-nav li{
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    padding: 10px;
}

.side-nav a{
    display:block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    list-style: none;
    color: black;
    padding-right: 20%;
}
.side-nav li :hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 3px;
    
}
.side-nav li .active{
    background-color: black;
    border-radius: 3px;
    color: white;
    /* font-weight: 600; */
    font-size: 15px;
}


.main-body{
    background:#f7f7f7;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.form-container{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 520px;
    /* font-size: 14px; */
    display: grid;
    justify-content: center;
    height: 520px;
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 white;
    margin-top: 50px;
}
.form-container-reg{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 450px;
    font-size: 20px;
    /* background: rgba(207, 207, 207, 0.829); */
    padding: 15px;
    display: grid;
    justify-content: center;
    height: 360px; 
    /* box-shadow: 0 0 6px 0 white; */
}

.uploadbttn{
    display: block;
    background: purple;
    border: none;
    /* z-index: 1000; */
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 90px;
    font-family: 'Lato', sans-serif;
    margin-top: -12px;
    border-radius: 22px;
    text-decoration: none;
    outline: 0;
}

.postbttn .active{
  padding: 5px 4px 4px 5px;
}
.inputc{
    width: 250px;
    padding: 15px;
    margin: 5px;
}
.inputcr{
    width: 350px;
    padding: 15px;
    margin: 5px;
}
.div2-login{
    display: grid;
    justify-content: center;
    width: 500px;
    /* background: green; */
}
.div2-reg{
    display: grid;
    justify-content: center;
    width: 450px;
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    padding: 15px;
    margin-top: 35px;

}
.bttn-signin{
    background-color: #800020;
    color: white;
    border: 0;
    font-size: 23px;
    padding: 10px;
    width: 130px;
    border-radius: 22px;
    outline: 0;
}
#buttondiv{
    display: flex;
    width: 9.2em;
    /* background: black; */
    justify-content: flex-end;   
}
.bttn:hover{
    opacity: 0.5;
}
.text{
    text-align: center;
    width: 480px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    /* background: rgb(115, 173, 207); */
    /* height: 0px; */
    margin-top:100px;
    background:white;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    
}
.form-container h1{
    font-family: 'Lato Medium', sans-serif;
    text-align: center;
    font-weight: 400;  
    /* color: white; */
}
.form-container h3{
    font-family: 'Lato', sans-serif;
    color: #c40538;
    text-align: center;
    font-weight: 250;
}
#boxdiv{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    width: 12em; 
    display: flex;
    justify-content: left;
    /* color: white; */
    /* background:  */
   
}
#boxandbutton{
    display: flex;  
}
.div3{
    display: grid;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin: 1 auto;
    padding: 30px;
    align-content: center;
    color: black;
    /* background: blanchedalmond;  */
    height: 100px;  
}
#bttn-register{
    background-color: purple;
    color: white;
    border: 0;
    width:320px;
    font-size: 20px;
    margin: 1 auto;
    padding: 12px;
    border-radius: 22px;
    outline: 0;
}
.bttn-register-submit{
    background-color: purple;
    color: white;
    border: 0;
    width:400px;
    font-size: 20px;
    margin: 1 auto;
    padding: 12px;
    border-radius: 22px;
    outline: 0;
}
#register:hover{
    opacity: 0.5;
}
#password{
    font-size: 15px;
    text-align: center;
    margin: 1;
    padding: 15px;
}
#main{
    width: 100vw;
    height: 100vh;
}
.body-grid{
    /* background: black; */
    height: 100vh;
    width: 60vw;
    display: grid;
    margin: 0 auto;
    margin-top:1%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 350px);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;

}
.profile-details{
    /* background: rgba(128, 128, 128, 0.349); */
    width: 100%;
    height:150px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    margin-top: 0px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
}
.user-info{
    /* background: #c40538; */
    height: 25px;
    margin-top: -140px;
    display: block;
    width: 300px;
    margin-left: 150px;
    padding: 0px;
    list-style:none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.user-info a li{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
.user-stats{
    display: block;
    margin-top:-90px;
    margin-left: 100px;
    /* position: absolute; */
    right: 15px;
    height: 50px;
    /* background: #ff0000; */
    width: 500px;
    justify-content: center;   
}
.user-stats li{
    /* display: table-cell; */
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* background: #f7f7f7; */
    width: 150px;
    padding: 0px;
    list-style: none;

}
.user-stats span{
    font-size:18px;
    margin: 0 auto;
    vertical-align: middle;
    padding: 10px;
    font-weight: 400px;
    /* background: blue; */

}
.post-card{
    width:550px;
    height:180px;
    background: white;
    /* margin: 0 auto; */
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    padding:0;
}
.post-card section{
    background:#800020;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    font-weight: bold;
}
.post-form textarea{
    width:88%;
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    padding: 2%;
    margin-left: 65px;
    margin-top:-60px;
    outline: 0;

}
.post-card .profile-img{
    width:55px;
    background: rgba(128, 128, 128, 0.507);
    border-radius: 30px;
    margin-left: 10px;
    margin-top:10px;
    justify-content: center;
    display: grid;
}
.post-card input[type="submit"] {
    margin-left: 10px;
    width: 12%;
    height: 40px;
    border-radius: 20px;
    background: #800020;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    outline: 0;
}
.post-card input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}
.display-posts{
    width:550px;
}
.content{
    font-family: 'Lato', sans-serif;
    display: block;
    width: 65vw;
    height: 100vh;
    /* background: rgb(255, 255, 255); */
    margin-top:2%;
    position: absolute;
    justify-content: center;
    box-shadow: 1 black;
    border-radius: 5px;
    /* box-shadow: 0 0 4px 0 rgba(41,39,44,.25); */
    /* overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto; */
    padding: 15px 5px;
    outline: 0;
}

.status-post{
    width: 550px;
    padding: 10px 10px;
    min-height: 75px;
    font-size: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(41,39,44,.25);
    cursor: pointer;
}
.post_profile_pic{
    float: left;
    margin-right: 7px;
    background: rgba(128, 128, 128, 0.507);
    border-radius: 30px;
}
.post_profile_pic img{
    border-radius: 20px;
    height: 45px;
    width: 45px;
    padding: 5px;
}
.post-timestamp{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.699);
    font-family: 'Lato', sans-serif;

}
#comment_iframe{
    max-height:300px;
    width:100%;
}
.comment-frame-body{
    background: white;
    border-radius: 20px;
    margin: 10px;
}
.comment_section{
    padding: 10px 10px 10px 10px;
    background: rgba(218, 218, 218, 0.356);
    margin: 10px 5px;
    border-radius: 30px;
    width:500px;
    box-shadow: 0 0 1px 0 rgba(41,39,44,.25);
}
.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 20px;
}
#comment_form textarea{
    border-color: #31313180;
    border-radius: 30px;
    width: 70%;
    height: 20px;
    padding: 5px 15px;
    outline: 0;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

}
#comment_form input[type="submit"]{
    border:none;
    background-color: #800020;
    color: white;
    border-radius: 20px;
    padding: 8px 10px;
    margin-top:0px;
    position: absolute;
    cursor: pointer;
    margin-left: 3px;
    font-family: 'Lato', sans-serif;

}
.newsfeedPostOptions{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.420);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    padding:0px;
    
}
.newsfeedPostOptions iframe{
    border: 0px;
    height: 20px;
    width: 120px;
}
.comment_text{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.420);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    padding:0px;
    display:inline-block;
}
.like_text{
    color: rgba(0, 0, 0, 0.420);
    font-family: 'Lato', sans-serif;
    padding: 0px;
    height: auto;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
 
}
.comment_like{
    background-color: transparent;
    border:none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.420);
    outline:0;
    padding:1px;
}

.like_value{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0.420);
    font-size: 15px;
    font-weight: bold;
    height: auto;

}



.player_plugin{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 10px);
    width: 75vw;
    height: 15vh;
    background: ghostwhite;
}
.player{
    display: grid;
    width: 1000px;
    height: 30px;
    position: absolute;
    left: 160px;
    top: 190px;  
}
#album_art{
    display: grid;
    width: 8vw;
    height: 15vh;
    background: black;
    padding: 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: white;
    text-align: left;
    height: 10vh;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    display: flex;
  
 }
.track-info{
    color: black;
    left: 0;
    width: 120px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-stretch: ultra-condensed;
}
.track-title{
    color: black;
    left: 0;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
/* .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  } */
  

.player {
    z-index:10;
    color:#000;
    min-height:80px;
    max-height:80px;
    display:flex;
    grid-template-rows: repeat(3, 1fr);
    flex-direction:row;
    top:0px;
    width: 100%;
    left: 0;
    background-color: #f7f7f7;
    color: white;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    
}

.player .left {
       width:80px;
       background-image:url(https://i.scdn.co/image/9ca53beeb365f468b023a8360634f309325b5487);
       background-size:cover;
}
.player .right {
       flex-grow:1;
       display:flex;
       flex-direction:column;
    }
.player .right .top {
          flex-grow:1;
          display:flex;
          flex-direction:column;
          justify-content:center;
          padding-left:8px;
          font-family: Lato;    
          position: absolute;
          bottom: 10px;
        
       }
.player .top a{
    color: #000;
    text-decoration: none;
}
.player .song  {
             font-size:1.2em;
             font-weight:600;
             text-decoration: none;
             color: #000;
             font-family: Lato;
          }
       
.player .bottom {
            /* background: #000; */
            left: 500px;
            position: absolute;
            height: 80px;
            top: 0;
          }
.player .bottom audio{
               display: flex;
               height:80px;
               width: 1200px;
               box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
            }


