body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background:#f7f7f7;
    overflow-x: hidden; 
}
a {
    color: #800020;
    text-decoration: none;
    /* font-weight: bold; */

}
.login-body{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/bars.png);
    background-size: cover;
    overflow-y: hidden;
    margin: 0;
    overflow-x: hidden; 
    /* background: black; */
}
.login-logo{
    margin: 0 auto; 
    /* background: white; */
    height: 100px;
    width: 100vw;
    display: grid;
    justify-content: center;
    margin-top: 0px;
}

.main-header{
    width: 100vw;
    height: 55px;
    background-color:rgb(0, 0, 0) ;
    top: 0;
    position: fixed;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    z-index: 1000;
    margin: 0 auto;
    padding: 1px;

}
.inner-header{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    padding: 17px;   
    /* background: blue;  */
    justify-content: center;

}
.logo-container{
    height: 100%;
    display: block;
    position: absolute;
    float: left;
    padding: 0px;
    margin-bottom: 1px;
    margin-top:-12px;
    margin-left: 100px;


}
.search{
    width: 550px;
    float: left;
    display: block;
    position: relative;
    margin-top:-15px;
    margin-left: 23px;
    outline: 0;
}
.search input[type=text]{
    margin-top: 2px;
    height: 100%;
    width: 550px;
    padding: 10px;
    margin-left: 0px;
    /* background: rgb(97, 97, 97); */
    border: 1px solid #DADADA ;  
    /* color: white; */
    border-radius: 5px;
    background: white;
    outline: 0;
}
.button_holder img{
    height: 30px;
}
.button_holder{
    position: absolute;
    margin: -35px 0 0 500px;
    float: left;
    cursor: pointer;
   
}

.main-nav{
    float: left;
    height: 30px;
    padding-left: 15px;
    /* background: red; */
}
.main-nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
   
}
.main-nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-decoration: none;

}
.main-nav a li:hover{
    color: rgb(179, 165, 179);  
    list-style: none;        
}
.sidebar{
    /* background: rgb(255, 255, 255); */
    height: 100vh;
    min-width: 275px;
    margin-top: 0%; 
    position: fixed;
    left:1%;
    border-radius: 5px;
    /* display: block; */
    /* box-shadow: 0 0 4px 0 rgba(41,39,44,.25);   */
}
.side-nav{
    padding: 0px;
    margin-top:13%;
    text-decoration: none;
    list-style: none;
    display: block;
}
.side-nav li{
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    padding: 10px;
}

.side-nav a{
    display:block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    list-style: none;
    color: black;
    padding-right: 20%;
}
.side-nav li :hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 3px;
    
}
.side-nav li .active{
    background-color: black;
    border-radius: 3px;
    color: white;
    /* font-weight: 600; */
    font-size: 15px;
}


.main-body{
    background:#f7f7f7;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}
.form-container{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 520px;
    /* font-size: 14px; */
    display: grid;
    justify-content: center;
    height: 520px;
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 white;
    margin-top: 50px;
}
.form-container-reg{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 450px;
    font-size: 20px;
    /* background: rgba(207, 207, 207, 0.829); */
    padding: 15px;
    display: grid;
    justify-content: center;
    height: 360px; 
    /* box-shadow: 0 0 6px 0 white; */
}

.upload-bttn{
    display: block;
    background: #800020;
    border: none;
    /* z-index: 1000; */
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 75px;
    font-family: 'Lato', sans-serif;
    margin: -13px 0px;
    border-radius: 25px;
    text-decoration: none;
    outline: 0;
    position: static;
}

.postbttn .active{
  padding: 5px 4px 4px 5px;
}
.inputc{
    width: 250px;
    padding: 15px;
    margin: 5px;
}
.inputcr{
    width: 350px;
    padding: 15px;
    margin: 5px;
}
.div2-login{
    display: grid;
    justify-content: center;
    width: 500px;
    /* background: green; */
}
.div2-reg{
    display: grid;
    justify-content: center;
    width: 450px;
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    padding: 15px;
    margin-top: 35px;

}
.bttn-signin{
    background-color: #800020;
    color: white;
    border: 0;
    font-size: 23px;
    padding: 10px;
    width: 130px;
    border-radius: 22px;
    outline: 0;
}
#buttondiv{
    display: flex;
    width: 9.2em;
    /* background: black; */
    justify-content: flex-end;   
}
.bttn:hover{
    opacity: 0.5;
}
.text{
    text-align: center;
    width: 480px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    /* background: rgb(115, 173, 207); */
    /* height: 0px; */
    margin-top:100px;
    background:white;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    
}
.form-container h1{
    font-family: 'Lato Medium', sans-serif;
    text-align: center;
    font-weight: 400;  
    /* color: white; */
}
.form-container h3{
    font-family: 'Lato', sans-serif;
    color: #c40538;
    text-align: center;
    font-weight: 250;
}
#boxdiv{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    width: 12em; 
    display: flex;
    justify-content: left;
    /* color: white; */
    /* background:  */
   
}
#boxandbutton{
    display: flex;  
}
.div3{
    display: grid;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin: 1 auto;
    padding: 30px;
    align-content: center;
    color: black;
    /* background: blanchedalmond;  */
    height: 100px;  
}
#bttn-register{
    background-color: purple;
    color: white;
    border: 0;
    width:320px;
    font-size: 20px;
    margin: 1 auto;
    padding: 12px;
    border-radius: 22px;
    outline: 0;
}
.bttn-register-submit{
    background-color: purple;
    color: white;
    border: 0;
    width:400px;
    font-size: 20px;
    margin: 1 auto;
    padding: 12px;
    border-radius: 22px;
    outline: 0;
}
#register:hover{
    opacity: 0.5;
}
#password{
    font-size: 15px;
    text-align: center;
    margin: 1;
    padding: 15px;
}
#main{
    width: 100vw;
    height: 100vh;
}
.body-grid{
    /* background: black; */
    height: 100vh;
    width: 60vw;
    display: grid;
    margin: 0 auto;
    margin-top:1%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 350px);
    /* overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto; */
    padding-top: 0%;

}
.profile-detail{
    background:white ;
    width: 450px;
    height:210px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    margin: 0 0;
    padding: 10px;
    display: grid;
}
.profile-detail img{
    border: 5px solid rgba(128, 128, 128, 0.420);
    border-radius: 80px;
    height:130px;
    width:130px;
}

.user-info{
    /* background: #c40538; */
    height: 25px;
    display: block;
    width: 300px;
    margin-left: 150px;
    padding: 0px;
    list-style:none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.user-info a li{
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-top: -130px;
}
.user-stats{
    display: block;
    margin-top:60px;
    margin-left: 110px;
    position: absolute;
    height: 130px;
    /* background: #ff0000; */
    width: 200px; 
}
.user-stats li{
    /* display: table-cell; */
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* background: #f7f7f7; */
    width: 150px;
    padding: 0px;
    list-style: none;
    float: left;

}
.user-stats span{
    font-size:14px;
    vertical-align: middle;
    padding: 5px;
    font-weight: 400px;
    /* background: blue; */

}
.post-card{
    width:550px;
    height:180px;
    background: white;
    /* margin: 0 auto; */
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    padding:0;
}
.post-card section{
    background:#800020;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    font-weight: bold;
}
.post-form textarea{
    width:88%;
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    padding: 2%;
    margin-left: 65px;
    margin-top:-60px;
    outline: 0;

}
.post-card .profile-img{
    width:55px;
    background: rgba(128, 128, 128, 0.507);
    border-radius: 30px;
    margin-left: 10px;
    margin-top:10px;
    justify-content: center;
    display: grid;
    padding: 0;
}
.post-card img{
    border-radius: 30px;
    height: 55px;
    width: 55px;
    padding: 0px;
}
.post-card input[type="submit"] {
    margin-right: 10px;
    width: 12%;
    height: 40px;
    border-radius: 20px;
    background: #800020;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    outline: 0;
    float: right;
}
.post-card input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}
.display-posts{
    width:550px;
}
.content{
    font-family: 'Lato', sans-serif;
    display: block;
    width: 65vw;
    height: 100vh;
    /* background: rgb(255, 255, 255); */
    margin-top:3%;
    position: absolute;
    justify-content: center;
    box-shadow: 1 black;
    border-radius: 5px;
    /* box-shadow: 0 0 4px 0 rgba(41,39,44,.25); */
    /* overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto; */
    /* padding: 10px 5px; */
    outline: 0;
}

.status-post{
    width: 550px;
    padding: 10px 10px;
    min-height: 75px;
    font-size: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    cursor: pointer;
}
.post_profile_pic{
    float: left;
    margin-right: 7px;
    background: rgba(128, 128, 128, 0.507);
    border-radius: 30px;
}
.post_profile_pic img{
    border-radius: 30px;
    height: 52px;
    width: 52px;
    padding: 0px;
}
.post-timestamp{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.699);
    font-family: 'Lato', sans-serif;

}
#comment_iframe{
    max-height:300px;
    width:100%;
}
.comment-frame-body{
    background: white;
    border-radius: 20px;
    margin: 10px;
}
.comment_section{
    padding: 10px 10px 10px 10px;
    background: rgba(218, 218, 218, 0.356);
    margin: 10px 5px;
    border-radius: 30px;
    width:500px;
    box-shadow: 0 0 1px 0 rgba(41,39,44,.25);
}
.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 20px;
}
#comment_form textarea{
    border-color: #31313180;
    border-radius: 30px;
    width: 70%;
    height: 20px;
    padding: 5px 15px;
    outline: 0;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

}
#comment_form input[type="submit"]{
    border:none;
    background-color: #800020;
    color: white;
    border-radius: 20px;
    padding: 8px 10px;
    margin-top:0px;
    position: absolute;
    cursor: pointer;
    margin-left: 3px;
    font-family: 'Lato', sans-serif;

}
.newsfeedPostOptions{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.420);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}
#cmnt{
    border: 0px;
    height: 22px;
    width: 120px;
    vertical-align: middle;
    background: blue;
}
.newsfeedPostOptions iframe{
    border: 0px;
    height: 22px;
    width: 120px;
    vertical-align: middle;
    margin: -20px -120px;
    float: left;
    position: absolute;
    
}
.comment_text{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.420);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    padding:0px;
    display:inline-block;
    margin: 0px;
}
.like_text{
    color: rgba(0, 0, 0, 0.420);
    font-family: 'Lato', sans-serif;
    padding: 0px;
    height: auto;
    width: auto;
    font-weight: bold;
    display:inline-block;
    margin-top: 0px;
}
.comment_like{
    background-color: transparent;
    border:none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.420);
    outline:0;
    padding:1px;
}

.like_value{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0.420);
    font-size: 15px;
    font-weight: bold;
    height: auto;

}
.danger{
    background-color: black;
}
.warning{
    background-color:#800020;
}
.default{
    background-color: #800020;

}
.success{
    background-color: #800020;
}
.info{
    background-color: #800020;
}
.column{
    background: white;
    font-family: 'Lato', sans-serif;
    display: grid;
    width: 65vw;
    margin-top:3%;
    position: absolute;
    box-shadow: 1 black;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    /* overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto; */
    padding: 20px;
    outline: 0;
    
}
.profile-post-button{
    background-color: #800020;
    color: white;
    border: none;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    outline: 0;
    vertical-align: middle;
    margin: 0 auto;
    padding: 10px 16px 10px 16px;
    top:155px;
    
}

.profile-button{
    /* background:black; */
    position: absolute;
    display: inline-block;
    margin: 140px 310px;
}
.profile-button input[type="submit"]{
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    padding: 10px 16px 10px 16px;
}
#editProfileButton{
    position: absolute;
    border: none;
    background: #800020;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
    width: 100px;
    padding: 10px;
}
#editProfileButton a{
    color: white;
    text-decoration: none;
}

#accept_button{
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    height: 2%;
    width: 15%;
    background-color: #800020;

}
#ignore_button{
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    height: 2%;
    width: 15%;
    background-color:black;
}
.delete_button{
    float:right;
    height: 15px;
    width:15px;
    position: relative;
    padding: 2px 1px 1px 1px;
    border: none;
    border-radius: 25px;
    color: gray;
    background: rgb(216, 216, 216);
    font-size: 8px;
    cursor: pointer;
}
#message_textarea{
    width:92%;
    margin-right:8px;
    outline: 0;
    border-radius: 40px;
    border: 1px solid #D3D3D3;
    padding: 10px 20px 0px 20px;
}
#message_submit{
    height: 40px;
    width: 50px;
    margin: 0;
    position: absolute;
    border: none;
    color: white;
    border-radius: 50px;
    bottom: 35px;
    cursor: pointer;
}
.message{
    display: inline-block;
    border-radius: 30px;
    padding: 5px 10px;
    /* border: 1px solid black; */
    color:white;
}
.message#blue{
    background: #800020;
    float: right;
    margin-bottom: 5px;
}
.message#green{
    background: black;
    float: left;
    margin-bottom: 5px;
}
.loaded_messages{
    height: 70%;
    min-height: 300px;
    max-height: 500px;
    overflow: scroll;
    margin-bottom: 10px;
    overflow-x: hidden; 
}
.loaded_conversations{
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top:90px;
    left: 0;
}
.user_found_messages{
    padding: 8px 8px 10px 8px;
}
.user_found_messages:hover{
    background: #D3D3D3;
    border-radius: 10px;
}
.user_found_messages img{
    height:50px;
    float: left;
}
#grey{
    color: #acacac;
}
.resultDisplay{
    padding: 10px 5px 0px 10px;
    height: 90px;

}
.resultDisplay:hover{
    text-decoration: none;
    background-color: #EBEBEB;
}
.liveSearchProfilePic img{
    height: 60px;
    border-radius: 30px;
    margin: 1px 12px 0px 2px;
    float: left;
}
.liveSearchText{
    background-color: transparent;
    color: #800020;
}
.liveSearchText p{
    margin-left: 10px;
    font-size: 12px;
}
.tab-content{
    margin-top: 25px;
}
.dropdown_data_window{
    height: 320px;
    padding: 0px;
    background: white;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width:320px;
    position: absolute;
    right: 510px;
    top: 55px;
    overflow: scroll;
    overflow-x:hidden;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
}
.notification_badge{
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background: #800020;
    border-radius: 30px;
    position: absolute;
    top:10px;
    margin: 0px 0px 0px -10px;
}
.resultDisplayNotification{
    height: auto;
    color: #800020;
    padding-bottom: 7px;
}
.resultDisplayNotification img{
    height: 50px;
    border-radius: 30px;
    margin: 10px 12px 0px 2px;
    float: left;
}
.timestamp_smaller{
    font-size: 85%;
    margin: 0;

}
.search_results{
    background: white;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: -2px;
    /* padding-top: 40px;     */
    box-shadow: 0 0 1px 0 rgba(41,39,44,.25);
}
.search_result a{
    color: #800020;
}
.search_results_footer{
    height: 40px;
    padding: 7px 4px 0px 4px;
    background: #800020;
    border: 1px solid #DADADA;
    border-top: none;
    text-align: center;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    box-shadow: 0 0 1px 0 rgba(41,39,44,.25);
}
.search_results_footer a{
    color: white;
}

.search_result{
    padding: 5px;
    height: 100px;
}
.searchPageFriendButtons{
    float: right;
    margin-top: 20px;
}
.searchPageFriendButtons input[type="submit"]{
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 10px 10px 10px;
}
.result_profile_pic{
    float: left;
    margin-right: 10px;
}
#search_hr{
    margin-bottom: 0px;
}
.small_profile_pic{
    height: 120px;
    margin: 1px 12px 0 2px;
  
}
#settings_input{
    border: 1px solid #CCC;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}
.settings_submit{
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: white;
}
.postedImage img{
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 8px auto;
}
#lblImage{
    padding: 5px 8px 5px 8px;
    background: #d3d3d388; 
    /* color: #fff; */
    border-radius: 20px;
    margin-left: 10px;
}
#lblImage input[type="file"] {
    display: none;
}

#lblImage :hover{
    opacity: 0.8;
    zoom: 110%;
}

.button{
    background: #800020;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 10px 8px 10px;
}
.bio_area{
    width:550px;
    height:500px;
    background: white;
    /* margin: 0 auto; */
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    padding:10px;
}

.tracks_area{
    background: white;
    width: 100%;
    height: auto;
    padding: 10px;
}













.player_plugin{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 10px);
    width: 75vw;
    height: 15vh;
    background: ghostwhite;
}
.player{
    display: grid;
    width: 1000px;
    height: 30px;
    position: absolute;
    left: 160px;
    top: 190px;  
}
#album_art{
    display: grid;
    width: 8vw;
    height: 15vh;
    background: black;
    padding: 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: white;
    text-align: left;
    height: 10vh;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    display: flex;
  
 }
.track-info{
    color: black;
    left: 0;
    width: 120px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-stretch: ultra-condensed;
}
.track-title{
    color: black;
    left: 0;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
/* .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  } */
  

.player {
    z-index:10;
    color:#000;
    min-height:80px;
    max-height:80px;
    display:flex;
    grid-template-rows: repeat(3, 1fr);
    flex-direction:row;
    top:0px;
    width: 100%;
    left: 0;
    background-color: #f7f7f7;
    color: white;
    box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
    
}

.player .left {
       width:80px;
       background-image:url(https://i.scdn.co/image/9ca53beeb365f468b023a8360634f309325b5487);
       background-size:cover;
}
.player .right {
       flex-grow:1;
       display:flex;
       flex-direction:column;
    }
.player .right .top {
          flex-grow:1;
          display:flex;
          flex-direction:column;
          justify-content:center;
          padding-left:8px;
          font-family: Lato;    
          position: absolute;
          bottom: 10px;
        
       }
.player .top a{
    color: #000;
    text-decoration: none;
}
.player .song  {
             font-size:1.2em;
             font-weight:600;
             text-decoration: none;
             color: #000;
             font-family: Lato;
          }
       
.player .bottom {
            /* background: #000; */
            left: 500px;
            position: absolute;
            height: 80px;
            top: 0;
          }
.player .bottom audio{
               display: flex;
               height:80px;
               width: 1200px;
               box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
            }


